.blog-page {
    background-color: none;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
}

 .colums {
     border: 10px solid rgb(216, 216, 205);
    padding:2rem;
 }


 .img_blog {
     width:80%;
     height:auto;
 }

