
  .hero-container {
    position: relative;
  
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 10%;
    width: 100%;
    height: auto;
    max-height: 80vh;
    position:relative;  
    display: flex;
    flex-direction: column; 
    object-fit: contain;
    overflow: hidden;
  
}
.hero-title {
  position: absolute;
  color: rgb(243, 244, 250);
  top:2%;
  left: 10%;
  font-size:140%;
  font-family: 'Amatic SC', cursive;

}
/* 
@media  (min-width: 375px) {
  .hero-container {
    height: 22vh;
  }
}

   @media (min-width: 425px) {
    .hero-container {
      height: 25vh;
    }
  } 


  @media  (min-width: 500px) {
    .hero-container {
      height: 80vh;
    }
  } 
  @media  (min-width: 600px) {
    .hero-container {
      height: 80vh;
    }
  } 
  @media  (min-width: 768px) {
    .hero-container {
      height: 80vh;
    }
  } 
  @media  (min-width: 900px) {
    .hero-container {
      height: 80vh;
    }
  } 
  @media  (min-width: 1024px) {
    .hero-container {
      height: 80vh;
    }
  } 
  @media  (min-width: 1440px) {
    .hero-container {
      height: 80vh;
    }
  } 
  @media  (min-width: 1700px) {
    .hero-container {
      height: 80vh;
    }
  } 
  @media  (min-width:2560px) {
    .hero-container {
      height: 80vh;
    }
  } 
  */
